<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Alvaro</string>
		<key>lastName</key>
		<string>Morata</string>
		<key>nationality</key>
		<string>Spain</string>
		<key>number</key>
		<string>9</string>
		<key>role</key>
		<string>Forward</string>
		<key>age</key>
		<string>25</string>
		<key>imageName</key>
		<string>Morata</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Eden</string>
		<key>lastName</key>
		<string>Hazard</string>
		<key>nationality</key>
		<string>Belgium</string>
		<key>number</key>
		<string>10</string>
		<key>role</key>
		<string>Midfielder</string>
		<key>age</key>
		<string>26</string>
		<key>imageName</key>
		<string>Hazard</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Pedro</string>
		<key>lastName</key>
		<string></string>
		<key>nationality</key>
		<string>Spain</string>
		<key>number</key>
		<string>11</string>
		<key>role</key>
		<string>Midfielder</string>
		<key>age</key>
		<string>30</string>
		<key>imageName</key>
		<string>Fabregas</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Victor</string>
		<key>lastName</key>
		<string>Moses</string>
		<key>nationality</key>
		<string>Nigeria</string>
		<key>number</key>
		<string>15</string>
		<key>role</key>
		<string>Midfielder</string>
		<key>age</key>
		<string>27</string>
		<key>imageName</key>
		<string>Moses</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>N&apos;golo</string>
		<key>lastName</key>
		<string>Kante</string>
		<key>nationality</key>
		<string>France</string>
		<key>number</key>
		<string>7</string>
		<key>role</key>
		<string>MidFielder</string>
		<key>age</key>
		<string>26</string>
		<key>imageName</key>
		<string>Kante</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Cesc</string>
		<key>lastName</key>
		<string>Fabregas</string>
		<key>nationality</key>
		<string>Spain</string>
		<key>number</key>
		<string>4</string>
		<key>role</key>
		<string>Midfielder</string>
		<key>age</key>
		<string>30</string>
		<key>imageName</key>
		<string>Fabregas</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Marcos</string>
		<key>lastName</key>
		<string>Alonso</string>
		<key>nationality</key>
		<string>Spain</string>
		<key>number</key>
		<string>3</string>
		<key>role</key>
		<string>Defender</string>
		<key>age</key>
		<string>27</string>
		<key>imageName</key>
		<string>Alonso</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Cesar</string>
		<key>lastName</key>
		<string>Azpilicueta</string>
		<key>nationality</key>
		<string>Spain</string>
		<key>number</key>
		<string>28</string>
		<key>role</key>
		<string>Defender</string>
		<key>age</key>
		<string>28</string>
		<key>imageName</key>
		<string>Azpilicueta</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Andreas</string>
		<key>lastName</key>
		<string>Christensen</string>
		<key>nationality</key>
		<string>Denmark</string>
		<key>number</key>
		<string>27</string>
		<key>role</key>
		<string>Defender</string>
		<key>age</key>
		<string>21</string>
		<key>imageName</key>
		<string>Christensen</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>David</string>
		<key>lastName</key>
		<string>Luiz</string>
		<key>nationality</key>
		<string>Brazil</string>
		<key>number</key>
		<string>30</string>
		<key>role</key>
		<string>Defender</string>
		<key>age</key>
		<string>30</string>
		<key>imageName</key>
		<string>DavidLuiz</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Thibaut</string>
		<key>lastName</key>
		<string>Courtois</string>
		<key>nationality</key>
		<string>Belgium</string>
		<key>number</key>
		<string>13</string>
		<key>role</key>
		<string>Goalkeeper</string>
		<key>age</key>
		<string>25</string>
		<key>imageName</key>
		<string>Courtois</string>
	</dict>
</array>
</plist>
